#nav-header {
  background-color: black;
  align-items: center;
}
#nav-header nav {
  display: flex;
}
#nav-header nav a {
    font-weight: bold;
  padding: 1em 2em;
  text-decoration: none;
  color: white;
}
#nav-header nav a:hover {
  background: white;
  color: black;
}
