<h2>Automatic grid</h2>
<span>Automatically creates columns regardless of width size </span>
<div class="container autogrid">
  <div class="item item-1">
    <span>item 1</span>
  </div>
  <div class="item item-2"><span>item 2</span></div>
  <div class="item item-3"><span>item 3</span></div>
  <div class="item item-4"><span>item 4</span></div>
  <div class="item item-5"><span>item 5</span></div>
  <div class="item item-6"><span>item 6</span></div>
  <div class="item item-7"><span>item 7</span></div>
  <div class="item item-8"><span>item 8</span></div>
  <div class="item item-9"><span>item 9</span></div>
  <div class="item item-10"><span>item 10</span></div>
  <div class="item item-11"><span>item 11</span></div>
</div>

<h2>Set grid</h2>
<span>define your own size of the grid items</span>

<div class="container setgrid">
  <div class="item item-1">
    <span>item 1</span>
  </div>
  <div class="item item-2"><span>item 2</span></div>
  <div class="item item-3"><span>item 3</span></div>
  <div class="item item-4"><span>item 4</span></div>
  <div class="item item-5"><span>item 5</span></div>
  <div class="item item-6"><span>item 6</span></div>
  <div class="item item-7"><span>item 7</span></div>
  <div class="item item-8">
    <span
      >item 8 <br />
      the remaining whitespace is the excess amount of space in this row</span
    >
  </div>
  <div class="item item-9"><span>item 9</span></div>
  <div class="item item-10"><span>item 10</span></div>
  <div class="item item-11"><span>item 11</span></div>
</div>

<h2>Grid template areas</h2>
<span>define grid with specific grid areas</span>

<div class="container gridareas">
  <div class="item item-1">
    <span>header</span>
  </div>
  <div class="item item-2"><span>main</span></div>
  <div class="item item-3"><span>sidebar</span></div>
  <div class="item item-4"><span>footer</span></div>
</div>

<h2>Alignment</h2>
<span>Flex properties also work here</span>
<div class="container aligngrid">
  <div class="item item-1">
    <span>item 1</span>
  </div>
  <div class="item item-2"><span>item 2</span></div>
  <div class="item item-3"><span>item 3</span></div>
  <div class="item item-4"><span>item 4</span></div>
  <div class="item item-5"><span>item 5</span></div>
  <div class="item item-6"><span>item 6</span></div>
  <div class="item item-7"><span>item 7</span></div>
  <div class="item item-8"><span>item 8</span></div>
  <div class="item item-9"><span>item 9</span></div>
  <div class="item item-10"><span>item 10</span></div>
  <div class="item item-11"><span>item 11</span></div>
</div>
