/* You can add global styles to this file, and also import other style files */

:root {
    --dragapult-black: #36444C;
    --dragapult-white: #FBFDFF;
    --dragapult-green: #67C1BF;
    --dragapult-yellow: #F6E6AB;
    --dragapult-red: #E9617C;
}
